* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 55px;
    width: 400px;
    margin: 0 auto;
    color: #3ace3ab9;
    padding: 50px;
}

body{
    background-image: linear-gradient(to bottom, #000000, #4d4d4d);
    padding: 205px 0;
    height: auto;
}

.calculator {
    width: 400px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px black;
}

.display{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #3a3a3a;
    color: white;
    font: normal 4rem serif;
    overflow: hidden;
    border-radius: 30px;
}

.calculator-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#limparDisplay{
    color: #e9291bb2;
}

#igual{
    background-color: #31944A;
}

#operadorDividir{
    color: #0ddf42;
} 

#operadorMultiplicar{
    color: #0ddf42;
}

 #operadorSubtrair{
    color: #0ddf42;
} 

#operadorAdicionar{
    color: #0ddf42;
}

.calculator button{
    background-color: #161616;
    color: white;
    padding: 23px;
    border-radius: 50px;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    border: 2px solid #b6bfc569;
}


button:hover{
    background-color: #c5d2dbc0;
    color: black;
}